<% content_for :title, 'Record' %>


<!-- 練習ログ一覧 -->
<div class="mt-8">
  <h3 class="text-xl font-semibold text-gray-900 mb-4">練習ログ</h3>
  <% if @practice_logs.empty? %>
    <div class="bg-gray-100 rounded-lg p-6 text-center">
      <p class="text-gray-600">現在、登録されているRecordはありません。</p>
    </div>
  <% else %>
    <div class="grid gap-4 ">
      <% @practice_logs.each do |log| %>
        <% circle_min = log.circle.to_i / 60 %>
        <% circle_sec = log.circle.to_i % 60 %>
        <% circle_str = "#{circle_min}'#{format('%02d', circle_sec)}\"" %>
        <div class="border rounded-lg p-4 hover:bg-gray-50 cursor-pointer bg-white" 
              data-controller="modal"
              data-action="click->modal#open"
              data-modal-target="practice-times-modal"
              data-practice-log-id="<%= log.id %>"
              data-style="<%= log.style %>"
              data-rep-count="<%= log.rep_count %>"
              data-set-count="<%= log.set_count %>"
              data-distance="<%= log.distance %>"
              data-circle="<%= log.circle %>">
          <div class="flex justify-between items-center">
            <div>
              <h4 class="font-medium text-gray-900"><%= log.attendance_event.title %></h4>
              <p class="text-sm text-gray-500"><%= log.attendance_event.date.strftime('%Y年%m月%d日') %></p>
            </div>
            <div class="text-right">
              <p class="text-sm text-gray-600">
                <%= "#{log.distance}m × #{log.rep_count}本 × #{log.set_count}セット　#{log.style}　#{circle_str}" %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<%= render 'shared/modal', modal_id: 'practice-times-modal', title: '' do %>
  <div id="practice-times-content" class="mt-4">
    <!-- ここにタイムデータが読み込まれます -->
  </div>
<% end %>
